// specific paragraph styles

p {
	line-height: 1.7;
	font-size: 1.3em;
}

select {
	&, & option {
	background-color:#303f9f;
	color:#fff;
	}
}

.btn-book-type {
	width:130px;
}

footer {
	* {
		color:#fff;
	}
	font-size:0.9rem;
	opacity:0.8;
	.icon-footer {
		font-size:1.1rem;
		position:relative;
		top:-4px;
	}
}
